* {
    font-family: 'Montserrat', sans-serif;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent; /* Set the background to transparent */
    position: fixed; /* Ensures the navbar stays fixed on top */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 75px; /* Adjust to a fixed height */
  }
  

.nav>* {
    display: flex;
}

.nav-logo {
    width: 90px;
    height: auto;
    align-items: center;
}

.create-tool-link {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.userMenu {
    display: flex;
    height: 0px;
    width: 0px;
    margin-right: 50px;
    justify-content: center;
    align-items: center;
    color:rgba(11,69,117,1);
    background-color: rgba(11,69,117,1);

}
.seperator {
    border-bottom: solid grey 0px;
    padding-bottom: 2px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.menuList,
.menuList2 {
    padding: 10px;
    padding-bottom: 5px;
    border: 1px solid black;
    border-radius: 10px;
    background: white;
}

.menuList {
    margin-top: 20px;
}

.menuList2 {
    margin-top: 90px;
}

.menuList>*, .menuList2>* {
    margin: 5px;
    font-size: smaller;
    display: flex;
    justify-content: center;
}

.manageTools, .logoutButton, .menuList > *{
    background-color: rgba(11,69,117,1);
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: white;
    font-size: smaller;
    width: 100%;
}
.logoutButton{
    background-image: linear-gradient(to right, rgb(63, 63, 63) , rgb(107, 106, 106));
}
.menuList button{
    width: 70px;
}
