

.spotDetails {
  flex: content;
  justify-content: center;
  padding-top: 100px;
  padding-left: 160px;
  padding-right: 160px;
}


.spotDetails>h1 {
  display: flex;
  margin: 0px;
  padding: 0px;
}

.spotDetails>h2 {
  display: flex;
  margin-top: 5px;
  padding: 0px;
  font-size: small;
}
.spotImages{
  display: flex;
}
.mainPicture{
  object-fit: cover;
  border-radius: 15px;
  width: 550px;
  height: 430px;
  margin: 0;
  padding: 0;
}
.sidePictures{
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
}
.pictures{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    object-fit: cover;
    border-radius: 15px;
    width: 270px;
    height: 210px;
    margin-left: 5px;
    padding: 0;
}

.spotDetails>img {
  object-fit: cover;
  border-radius: 15px;
  margin: 0;
  padding: 0;
}



.reserve {
  display: flex;
  box-sizing: border-box;
  padding: 20px;
  background-color: white;
  color: black;
  box-shadow: 0 0 0px black;
  border-radius: 4px;
  text-align: center;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  flex-flow: row wrap;
  justify-content: space-between;
}
.description{
  display: flex;
}
.description>h2{
  display: flex;
  margin: 0px;
}
.description > h4{
  display: flex;
  margin-top: 10px
}


.reserveMenu {
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  padding: 0px;
  border-radius: 8px;
  align-items: center;
  flex-wrap: wrap;
  width: 350px;


  box-sizing: border-box;
  padding: 15px;
  background-color: white;
  color: black;
  box-shadow: 0 0 10px black;
}

.descriptionBox{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 325px;
  height: 50px;
}

.descriptionBox{
  display: flex;
  justify-content: space-between;
}
.ratingSummary{
  display: flex;
  align-items: center;
}
.ratingSummary > *{
  font-size: medium;
  margin: 2px;
}
.ratingSummary > h2{
  font-size: larger;
  margin: 2px;
}

.reserveButton {
  background-image: linear-gradient(to right, rgb(35, 227, 201) , rgb(5, 96, 110));
  border-radius: 8px;
  width: 300px;
  height: 35px;
  margin-top: 2px;;
  
}
.reserveButton > *{
  color: white;
  margin-top: 8px;
  font-size: medium;
}





.leaveReview{
  display: flex;
  flex-direction: column;
}

.ratingSummary2{
  display: flex;
  align-items: center;
}
.ratingSummary2 > *{
  font-size: larger;
  margin: 2px;
}

.postReviewButton{
  display: flex;
  background-image: linear-gradient(to right, rgb(6, 181, 204) , rgb(9, 111, 137));
  border-radius: 4px;
  width: 125px;
  height: 20px;
}


.postReviewButton > *{
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 2px;
  margin-left: 2px;
  font-size: small;
}




.reserveMenu > h5{
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  margin-top: 0px;
  padding: 0px;
  border: 1px solid rgb(221,221,221);
  border-radius: 5px;

  flex-basis: 70px;
}
.reserveMenu > h6{
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  margin-top: 0px;
  padding: 0px;
  border: 1px solid rgb(221,221,221);
  border-radius: 5px;
  flex-basis:0 70px;
}
.reserveMenu > h7{
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  margin-top: 0px;
  padding: 0px;
  border: 1px solid rgb(221,221,221);
  border-radius: 5px;
  flex-grow: 1;
}


.reviews{
  padding-left: 160px;
  padding-right: 160px;
}

.allowedReview{
  visibility: visible;
}
.notAllowedReview{
  height: 400px;
}

.allReviews{
  margin-left: -40px;
}
.date {
  color: gray;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: smaller;
}
.reviewParagraph{
  font-size:medium;
  margin-top: 7px;
}

.deleteReviewButton{
  display: flex;
  background-image: linear-gradient(to right, rgb(35, 227, 201) , rgb(5, 96, 110));
  border-radius: 4px;
  width: 60px;
  height: 20px;
}


.deleteReviewButton > *{
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 2px;
  margin-left: 2px;
  font-size: small;
}

