.landing-page {
  background-color: white; 
  color: rgb(0, 11, 11); 
  font-family: Arial, sans-serif;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  padding-top: 5px; 
  margin-bottom: 10px;
}

.logo-title {
  display: flex;
  align-items: center;
  margin-top: -5px; 
}

.logo {
  width: 40px; 
  height: 40px; 
  margin-right: 10px;
  border-radius: 50%;
}

.title {
  font-size: 2em;
  color: rgb(0, 5, 5); 
}

.menu {
  display: flex;
  align-items: center;
}

.menu-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.main-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.left-box, .right-box {
  background-color: rgba(0, 128, 128, 0.1); 
  padding: 20px;
  border-radius: 5px;
  width: 45%;
}

.search-input {
  padding: 10px 10px 10px 35px;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid rgb(144, 194, 194);  
  border-radius: 20px;  
  box-shadow: 0 2px 4px rgba(234, 228, 228, 0.1);  
  color: rgb(0, 0, 0);
  font-size: 16px;  
  outline: none; 
}

.search-input::placeholder {
  color: #000000; 
  width: 50%; 
}


.links {
  display: flex;
  flex-direction: column;
}

.links a {
  color: teal;
  text-decoration: none;
  margin: 5px 0;
  display: flex;
  align-items: center; 
}

.categories h2 {
  margin-bottom: 10px;
  color: teal; 
}

.categories ul {
  list-style-type: none;
  padding: 0;
}

.categories li {
  margin: 5px 0;
  display: flex;
  align-items: center; 
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  background-color: rgba(0, 128, 128, 0.1); 
  color: black; 
  padding: 10px; 
  margin: 10px;
  border-radius: 5px;
  width: calc(33.333% - 20px); 
  box-sizing: border-box;
  text-align: center;
  display: flex; 
  flex-direction: column; 
}

.item img {
  max-width: 100%;
  max-height: 300px; 
  margin-bottom: 5px;
}

.item-description {
  font-size: 14px; 
}

.footer {
  margin-top: 20px;
  text-align: left;
}

.support h2 {
  margin-bottom: 10px;
  color: rgb(0, 0, 0); 
}

.support a {
  color: teal; 
  text-decoration: none;
  display: block;
  margin: 5px 0;
}

.icon {
  width: 22px;
  height: 22px;
  margin-right: 4px;
  vertical-align: middle;
  stroke: teal;
  fill: none; 
}
.search-icon {
  position: absolute;
  left: 6px;
  width: 22px;
  height: 22px;
  color: teal;
  z-index: 10; 
  top:20%; 
}
.search-box {
  display: flex;
  align-items: center;
  position: relative;
  width: 70%;
}
