body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media screen and (max-width: 745px) {
  .allTools {
    padding-top: 100px;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .toolLink {
    max-width: 98%;
    max-height: 25%;
    display: flex;
    flex-direction: column;
    margin: 7px;
  }
  .toolLink>img {
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    border-radius: 15px;
    width: 490px;
    height: 370px;
    max-width: 98%;
    max-height: 50%;
    margin-left: 2px;

    border: 1px solid black
  }

  .container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3px;
  }

  .toolLink>h2 {
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: x-small;
  }


  .toolLink>h4 {
    margin: 2px;
  }
}
@media screen and (min-width: 745px) {
  .allTools {
    padding-top: 100px;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .toolLink {
    
    max-width: 47%;
    display: flex;
    flex-direction: column;
    margin: 7px;
  }
  .toolLink>img {
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    border-radius: 15px;
    width: 98%;
    height: 250px;
    margin-left: 2px;

    border: 1px solid black
  }

  .container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3px;
  }

  .toolLink>h2 {
    display: flex;
    justify-content: center;
    margin: 0;
  }


  .toolLink>h4 {
    margin: 2px;
  }
}

@media screen and (min-width: 950px) {
  .allTools {
    padding-top: 100px;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .toolLink {
    max-width: 30%;
    display: flex;
    flex-direction: column;
    margin: 7px;
  }
  .toolLink>img {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    border-radius: 15px;
    margin-left: 2px;
    border: 1px solid black
  }

  .container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3px;
  }

  .toolLink>h2 {
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: medium;
  }
}

@media screen and (min-width: 1128px) {
  .allTools {
    padding-top: 100px;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .toolLink {
    height: 300px;
    max-width: 23%;
    display: flex;
    flex-direction: column;
    margin: 7px;
  }

  .toolLink>img {
    height: 210px;
    width: 290px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    border-radius: 15px;
    margin-left: 2px;
    border: 1px solid black
  }

  .container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3px;
  }

  .toolLink>h2 {
    display: flex;
    justify-content: center;
    margin: 0;
  }
}

.toolLink h3 {
  font-size: small;
  font-weight: bolder;
}
.toolLink h4 {
  margin: 2px;
  font-size: smaller;
}


.toolLink .toolNameCard {
  visibility: hidden;
}

.toolLink:hover .toolNameCard {
  visibility: visible;
}

.rating {
  display: flex;
  align-items: center;
}

.rating>* {
  padding: 1px;
  margin: 2px;
}

* {
  font-family: 'Montserrat', sans-serif;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  border-bottom: solid grey .5px;
  width: 100%;
  height: 15%;
}

.nav-logo {
  flex: 50%;
  width: 90px;
  height: auto;
}

.menuButton {
  flex: 50%;
  height: auto;
}

.profilePicture {
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  border-radius: 150px;
  margin-left: 2px;
  border: 1px solid black
}

.logo{
  width: 10%;
  display: flex;
  align-items: center;
  object-fit: cover;
  border-radius: 150px;
  margin-left: 2px;
  margin-bottom: -100px;
  border: 1px solid black
}

.profile-dropdown {
  display: block;
  /* Other styles for showing the menu */
}

.profile-dropdown.hidden {
  display: none;
  /* Styles to hide the menu */
}

.toolNameCard2{
  font-size: calc(10px + 2vmin);
  color: pink;
}

* {
  text-align: center;
  background-image: linear-gradient(to right, rgb(82, 81, 81) , rgb(50, 49, 49));
}